@import 'settings';
@import 'foundation-emails';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), url(https://assets.balena.io/newsletter/CircularStd-Book.otf) format("opentype");
}

// BASIC
ul {
  padding: 0 16px;
}

hr {
  border-style: solid;
  color: #fff;
}

hr.header {
  max-width:550px;
 color: rgba(42, 80, 111, 0.05);
}

table.button {
  table td {
    a {
      font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
      font-weight: 500;
    }
  }
}

.icon {
  max-width: 12px;
  display: inline-block;
  margin-right: $global-margin/2;
}

.link-plain {
  color: $light-blue; 
}

.black {
  color:$background-blue
}

.container-border {
  padding: $global-padding;
  @include border-radius(5px);
  .wrapper-inner {
    padding: $global-padding;
    .columns {
      padding-bottom: 0;
    }
  }
}
// BASIC

// TOP
.top {
  background-image: url('https://assets.balena.io/newsletter/2019-06/hero_classic.png');
  background-repeat: no-repeat;
  // background-color:#00aff4;
  background-color:#fff;
  background-size:contain;
  height: 384px;
  background-position: center center;
}

.box {
  margin-top:30px !important;
  max-width: 363px;
  width:100%;
}
// TOP

// HEADER
.header .wrapper-inner {
  padding: $global-padding/2 0; /*controls the height of the header*/
}

.header__columns {
  padding: $global-padding/2 30px !important;
  vertical-align: middle;
}

.header__title {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.header__brand {
  max-width: 150px;
}

@media only screen and (max-width: #{$global-breakpoint}) {

  .top {
    height:200px !important;
  }

  .header__title, .header__brand {
    text-align: center !important;
    float: none !important;
    margin: auto;
  }
  hr.header {
    display: none;
  }
}
// HEADER

// FOOTER
.footer {
  background: #fff;
}

.footer__text {
  margin-top:10px;
  color: $dark-blue;
  font-size: 12px;
  a {
    color: $dark-blue;
    &:hover {
      color: $light-blue;
    }
  }
}

.footer__brand {
  max-width: 110px;
}
// FOOTER

// POSTS
.post__title, .post__title a {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color:  #2A506F;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;

}

.posts_smart {
  width:100%;
  margin-bottom:40px;
}

.posts_smart_title {
  text-align: left;
}

.posts_smart_title_text {
  font-size: 27px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #2a506f;
  margin-bottom: none;
  max-width: 200px;
}

.post_img {
  width:100%;
  max-width: 178px;
}

.logo_icon {
  width:100%;
  max-width: 28px;
  float:left;
  padding-right:14px;
}


ul.posts_list {
  padding-left:0px;
  list-style: none;
  margin-top:0px;
  margin-bottom:0px;
  > li {
    margin: 0;
    > img {
      margin: 20px 0 20px 0;
    }
  }
}

.post__text {
  font-size:13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: $dark-blue;
  margin-bottom: 25px;
}

.post__text_bottom {
  font-size:13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: $dark-blue;
  margin-bottom: 0px !important;
}

.post__image {
  max-width: 170px;
}

.project_month {
  font-size:13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: $dark-blue;
  margin-top:0;
}
// POSTS

// FEATURED
.featured {
  background-color: $white;
}

.padding-body {
  padding: 0 30px;
}

.featured__title {
  color: $dark-blue;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top:20px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.featured__title2 {
  color: $dark-blue;
  font-size: 20px;
  margin-bottom: 16px;
  margin-top:30px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.featured__text {
  color: $dark-blue;
  font-size: 13px;
  line-height: 21px;
}
// FEATURED

// EVENTS
.event_title {
  color: $dark-blue;
  font-size: 20px;
  padding-left:50px;
  max-width:200px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.event_description {
  color: $dark-blue;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  margin: 20px 50px;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

.event_name_col {
  padding-left: 50px !important;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
  color: $light-blue;
  &:hover {
    color: $dark-blue;
  }
}

.event_name {
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.events__header .columns {
  padding-bottom: 0;
}

.event_name_col {
  padding-left:0 !important;
}

.event {
  background-color: #fff;

  p {
    font-size: 14px;
    color: $dark-blue;
  }

  a {
    font-size: 14px;
    color: $light-blue;
    &:hover {
      color: $dark-blue;
    }
  }
}

img.event_icon {
  max-width: 20px;
  float:left;
  margin-right:10px; 
}

.events {
  background-color: #fff;
  padding-top:30px;
}
// EVENTS

// PROJECT OF THE MONTH
.projects_of_the_month__title {
  color: $dark-blue;
  font-size: 20px;
  margin: 0 16px 20px 16px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.projects_of_the_month__description {
  color: $dark-blue;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  margin: 20px 16px;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

ul.projects_of_the_month {
  list-style: none;
  > li {
    margin: 30px 0;
    > img {
      margin: 20px 0 20px 0;
    }
  }
}

.projects_of_the_month__project_title {
  font-weight: bold;
  font-size:13px;
  color: $dark-blue;
  line-height: 21px;
  &:hover {
    color: $light-blue;
  }
  &:visited {
    color: $dark-blue;
  }
}

.projects_of_the_month__project_text {
  font-size:13px;
  color: $dark-blue;
  
  line-height: 21px;
  &:link {
    color: $light-blue;
  }
  &:hover {
    color: $dark-blue;
  }
}
// PROJECT OF THE MONTH

// UNSUBSCRIBE
.unsubscribe__text {
  color: $dark-blue;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 30px;
}
// UNSUBSCRIBE

//VIEW IN BROWSER
.view-in-browser__text {
  font-size:12px;
  padding-bottom: 20px;
}
//VIEW IN BROWSER

// SOCIAL
.social {
  padding-left:20px;
  font-size: 13px;
  line-height: 2;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.social__button {
  img {
    width:12px;
  }
}
// SOCIAL

//JOBS
.jobs-container {
  max-width: 550px;
  margin: 0 auto 40px auto;
  // border-radius: 10px;
  box-shadow: -10px 9px 21px 0 rgba(152, 173, 227, 0.08);
  border: solid 1px #e8ebf2;
  background-color: #ffffff;
}

.job_content {
  padding-top:40px;
  padding-left:100px;

  table.job_button {
    margin-left:35px;
  }
}

.job_title {
  font-size: 20px;
  color: $dark-blue;
  padding: 0 35px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.job_text {
  padding: 0 20px 0 35px;
  margin-top:20px;
  margin-bottom: 30px;
  color: $dark-blue;
  font-size: 13px;
  line-height: 21px;
  a {
    color: $light-blue;
    &:hover {
      color: $dark-blue;
    }
  }
}

.job_image {
  max-width: 227px;
}
//JOBS
