@import 'settings';
@import 'foundation-emails';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), url('https://danielandrade.net/balena/fonts/CircularStd-Book.woff') format('woff');
}


// BASIC
hr {
  border-style: solid;
  color: #fff;
}


hr.header {
  max-width:550px;
  color: #475969;
}


table.button {
  table td {
    a {
      font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
    }
  }
}


.icon {
  max-width: 12px;
  display: inline-block;
  margin-right: $global-margin/2;
}

.link-plain {
  color: $light-blue; 
}

.black {
  color:$background-blue
}

.container-border {
  padding: $global-padding;
  @include border-radius(5px);
  .wrapper-inner {
    padding: $global-padding;
    .columns {
      padding-bottom: 0;
    }
  }
}
// BASIC

// HEADER
.header {

}

.header .wrapper-inner {
  padding: $global-padding/2 0; /*controls the height of the header*/
}

.header .container {

}

.header__columns {
  padding: $global-padding/2 30px !important;
  vertical-align: middle;
}

.header__title {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  margin-bottom: 0;
}

.header__brand {
  max-width: 150px;
}

@media only screen and (max-width: #{$global-breakpoint}) {
  .header__title, .header__brand {
    text-align: center !important;
    float: none !important;
    margin: auto;
  }
}
// HEADER

// FOOTER
.footer {
  background: #fff;
}

.footer__columns {
}

.footer__text {
  margin-top:10px;
  color: $dark-blue;
  font-size: 12px;
  a {
    color: $dark-blue;
    &:hover {
      color: $light-blue;
    }
  }
}

.footer__brand {
  max-width: 110px;
}

// FOOTER

// POSTS
.post__title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: $dark-blue;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}
.post__text {
  font-size:13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: $dark-blue;
  margin-bottom: 25px;
}

.post__text_bottom {
  font-size:13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: $dark-blue;
  margin-bottom: 0px !important;
}


.post__tags {
  list-style: none;
  padding: 0;
  letter-spacing: 1px;
  margin: $global-margin/4 0
}
.post__tag {
  display: inline-block;
  margin-left: 0 !important;
  .secondary {
    margin-bottom: 0;
  }
}

.post__image {
  max-width: 170px;
}

.project_month {
  font-size:13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: $dark-blue;
  margin-top:0;
}
// POSTS


// TOP
.top {
  background-image: url('https://www.balena.io/blog/content/images/2018/11/header-bg.png');
  background-repeat: no-repeat;
  background-color: $background-blue;
  background-size:cover;
  height: 550px;
}

.box {
  margin-top:30px !important;
  max-width: 363px;
  width:100%;
}
// TOP

// FEATURED
.featured {
  background-color: $white;
}

.padding-body {
  padding: 0 30px;
}

.featured__title {
  color: $dark-blue;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top:20px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.featured__title2 {
  color: $dark-blue;
  font-size: 20px;
  margin-bottom: 16px;
  margin-top:30px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.featured__text {
  color: $dark-blue;
  font-size: 13px;
}
// FEATURED

// EVENTS

.event_title {
  color: $dark-blue;
  font-size: 20px;
  margin: 20px 50px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}



.event_name_col {
  padding-left: 50px !important;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
  color: $light-blue;
  &:hover {
    color: $dark-blue;
  }
}

.event_name {
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.events__header .columns {
  padding-bottom: 0;
}

.event {
  background-color: #fff;

  p {
    font-size: 14px;
    color: $dark-blue;
  }

  a {
    font-size: 14px;
    color: $light-blue;
    &:hover {
      color: $dark-blue;
    }
  }
}

.events {
  background-color: #fff;
  padding-top:30px;
}

// EVENTS

// UNSUBSCRIBE

.unsubscribe__text {
  color: $dark-blue;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 30px;
}
// UNSUBSCRIBE

//VIEW IN BROWSER
.view-in-browser__text {
  font-size:12px;
  padding-bottom: 20px;
}
//VIEW IN BROWSER

// SOCIAL

  .social {
    font-size: 13px;
    line-height: 2;
    font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
  }

  .social__button {
    img {
      width:12px;
    }
  }

// SOCIAL

//JOBS
.jobs-container {
  max-width: 550px;
  margin: 0 auto 40px auto;
  // border-radius: 10px;
  box-shadow: -10px 9px 21px 0 rgba(152, 173, 227, 0.08);
  border: solid 1px #e8ebf2;
  background-color: #ffffff;
}

.job_content {
  padding-top:70px;
  padding-left:100px;

  table.job_button {
    margin-left:35px;
  }
}

.job_title {
  font-size: 20px;
  color: $dark-blue;
  padding: 0 35px;
  font-family: 'Circular Std Book', 'Nunito', Helvetica, Arial, sans-serif;
}

.job_text {
  padding: 0 20px 0 35px;
  margin-top:20px;
  margin-bottom: 30px;
  color: $dark-blue;
  font-size: 12px;
  a {
    color: $light-blue;
    &:hover {
      color: $dark-blue;
    }
  }
}




.job_image {
  max-width: 227px;
}
//JOBS
