<row>
  <columns>
  <h3><img class="icon" src="https://resin.io/blog/content/images/2016/07/events-2x.png">Events</h3>
  </columns>
</row>
<row class="events__header">
  <columns small="4">
    Event
  </columns>
  <columns small="4">
    Location
  </columns>
  <columns small="4">
    Date
  </columns>
</row>
{{> hr}}
{{#each events}}
<row class="event">
  <columns small="4">
    <a href="{{ this.link }}">{{ this.title }}</a>
  </columns>
  <columns small="4">
    {{ this.location }}
  </columns>
  <columns small="4">
    {{ this.date }}
  </columns>
</row>
{{/each}}
