<div class="posts_smart event_title">
  <img class="logo_icon posts_smart_title" src="https://assets.balena.io/newsletter/balena-icon.png">
  <p class="posts_smart_title_text ">Events</p>
</div>


<p class="event_description">Here’re some upcoming events you might like to check out!</p>
<div class="events">
  {{#each events}}
    <row class="event">
      <columns small="12" large="1" class="event_attending_col">
        {{#if this.attending}}
          <img src="https://assets.balena.io/newsletter/balena-icon.png" class="event_icon">
        {{/if}}
      </columns>
      <columns small="12" large="3" class="event_name_col">
        <a class="event_name" href="{{ this.link }}">
          {{ this.title }}
        </a>
      </columns>
      <columns small="12" large="4">
        <p>{{ this.location }}</p>
      </columns>
      <columns small="12" large="4">
        <p class="event_date">{{ this.date }}</p>
      </columns>
    </row>
  {{/each}}
</div>

<p class="event_description">If there is anything you’d like to see featured in future newsletters, please get in touch and let us know via <a href="https://www.balena.io/contact" target="_blank">email</a> or in our <a href="https://forums.balena.io" target="_blank">forums</a>. We always love to see what you’ve been working on! 
</p>
