<row class="featured">
  <columns>
    <center>
      <img src="https://www.balena.io/blog/content/images/2018/11/team-2x.jpg">
    </center>
    <spacer size="10"></spacer>
    <h5 class="featured__title2">
      Balena Summit 2018
    </h5>
    <p class="featured__text">
      As we run a <a href="https://www.balena.io/blog/how-we-run-a-remote-team/" target="_blank">remote team</a>, once a year we get the whole team together in one place to meet each other face-to-face, enjoy some good food and drink and have fun working together. Last month we met in Barcelona for the first time and had fun with escape rooms, ignite talks, hacks, and of course the renameathon!
    </p>
  </columns>
</row>
<hr>