<row class="footer">
  <columns>
    <spacer size="30"></spacer>
    <center>
      <img class="footer__brand icon icon--large" src="{{ logo }}" alt="resin.io Logo" />
    </center>
    <spacer size="10"></spacer>
    <p class="footer__text text-center">
      Resin.io</br>
      1517 12th Avenue</br>
      Seattle, WA 98122
    </p>
    <p class="footer__text footer__postcard text-center">Send us a postcard!</div>
    <spacer size="10"></spacer>
    {{#ifvalue page value="index"}}
      <p class="text-center">
        <a href="*|ARCHIVE|*">View this email in your browser</a>
      </p>
    {{/ifvalue}}
  </columns>
</row>
