<wrapper class="header">
  
    <row class="collapse">

      <columns class="header__columns" large="1">
        <a href="https://balena.io" target="_blank">
          <img class="header__brand float-left" src="{{ logo }}" alt="balena.io Logo">
        </a>
      </columns>
      <columns class="header__columns" large="11">
        <p class="header__title text-right" valign="bottom">{{ subject }}</p>
      </columns>
    </row>
    <hr class="header">
    <row>
      <img class="box float-center" src="{{ logo-box }}" alt="balen team">
    </row>

</wrapper>