<div class="jobs">
  <row class="jobs-container">
    <columns class="job_content">
      <p class="job_title">Work with us!</p>
      <p class="job_text">We’re always on the lookout for interested, talented and passionate people to join our team. </p>
      <button class="medium rounded job_button" target="_blank" href="https://balena.workable.com/">See all jobs</button>
    </columns>
    <columns>
      <center>
        <img class="job_image" src="https://assets.balena.io/newsletter/img-jobs-2x-1.png" alt="balena.io" />
      </center>
    </columns>
  </row>
</div>