<div class="jobs">
  <row class="jobs-container">
    <columns class="job_content">
      <p class="job_title">Work with us!</p>
      <p class="job_text">Right now we have a whole bunch of open positions from engineering, to sales, to people, to finance. If you’re interested or know someone you think would be, please get in touch!</p>
      <button class="medium rounded job_button" target="_blank" href="https://balena.workable.com/">See all jobs</button>
    </columns>
    <columns>
      <center>
        <img class="job_image" src="https://assets.balena.io/newsletter/img-jobs-2x-1.png" alt="balena.io" />
      </center>
    </columns>
  </row>
</div>