<div class="posts_smart">
  <img class="logo_icon posts_smart_title" src="https://assets.balena.io/newsletter/balena-icon.png">
  <p class="posts_smart_title_text">Projects of the month</p>
</div>

<p class="projects_of_the_month__description">Every month we like to feature a few projects built by the community, this month it’s:</p>

{{#each projects_of_the_month}}
  <row class="post">
    {{#if this.image}}
      <columns large="4">
        <center>
          <img class="post__image" src="{{ this.image }}">
        </center>
      </columns>
    {{/if}}
    <columns large="{{#if this.image}}8{{else}}12{{/if}}">
      {{#if this.title}}
        <a class="projects_of_the_month__project_title" href="{{this.link}}"  target="_blank">{{{this.title}}}</a></p>
      {{/if}}

      {{#if this.text}}
        <p class="projects_of_the_month__project_text">{{{ this.text }}}</p>
      {{/if}}
    </columns>
  </row>
{{/each}}


<p class="post__text">Feel free to give them a try and let the world know how you get on in the <a href="https://forums.balena.io" target="_blank">forums</a>; the authors of these projects would love to know how you’re using them.</p>

