<row>
  <columns>
    <p class="text-center unsubscribe__text">
      You are receiving this newsletter because you are a balena user, or have signed up to receive our newsletters on the balena.io website. 
      No longer interested? Unsubscribe <a class="link-plain" href="*|UNSUB|*">here</a>.
    </p>
    {{#ifvalue page value="index"}}
      <p class="text-center view-in-browser__text">
        <a href="*|ARCHIVE|*">View this email in your browser</a>
      </p>
    {{/ifvalue}}
  </columns>
</row>
